# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
.output
.vinxi
.tanstack/**
.nitro
.vercel/output

*.local
sanity-export.tar.gz

# Wrangler / Cloudflare
.wrangler/
.dev.vars

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?



src/assets/gray-keep-logo-vectorized.svg
src/assets/gray-keep-logo.webp
src/assets/gray_keep_transparent.png
src/assets/gray_keep_transparent1.png
src/assets/gray_keep_transparent100.webp
src/assets/gray_keep_transparent101.webp
src/assets/gray_keep_transparent102.webp
src/assets/gray_keep_transparent103.webp
src/assets/gray_keep_transparent104.webp
src/assets/gray_keep_transparent105.webp
src/assets/gray_keep_transparent106.webp
src/assets/gray_keep_transparent2.png
